@charset "UTF-8";
/* General - variáveis de SASS */
/** Colors - variáveis de CSS */
:root {
  --surface-0: #20262e;
  --surface-50: #363c43;
  --surface-100: #4d5158;
  --surface-200: #63676d;
  --surface-300: #797d82;
  --surface-400: #909397;
  --surface-500: #a6a8ab;
  --surface-600: #bcbec0;
  --surface-700: #d2d4d5;
  --surface-800: #e9e9ea;
  --surface-900: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
  background: var(--surface-0);
}

.main-navbar .navbar > * {
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  justify-content: space-between;
}