.app-text {
  width: 50%;
  float: left;
  text-align: left;
}
.app-mockup {
  width: 49%;
  float: right;
  text-align: right;
}
.app-mockup img{
  width: 80%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}