* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $fontSize;
  background: var(--surface-0);
}
.main-content{

}

.main-content .card {
  margin-top: 1%;
}

.border-left {
  border-left: 1px solid var(--bs-gray-500) !important;
}

.border-right {
  border-right: 1px solid var(--bs-gray-500) !important;
}

.border-top {
  border-top: 1px solid var(--bs-gray-500) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--bs-gray-500) !important;
}


.page-header nav{
  position: relative;
}

.page-header .breadcrumb {
  float: right;
  position: absolute;
  top: 0px;
  right: 10px;
}