.main-navbar .navbar>* {
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

#main-logo {
}