.main-navbar {

}
.main-navbar .navbar {
  height: 3.75rem;
}
.main-navbar .navbar>* {
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

#main-logo {

}

.notification__icon-wrapper {
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.notification__icon {
  background-color: var(--bs-primary);
  box-shadow: 0 0 0 1px #fff,inset 0 0 3px rgba(0,0,0,.2);
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: white;
}
.notification__content {
  padding: 0 .625rem;
  font-size: 12px;
}

.notification__category {
  font-size: 12px;
  color: var(--bs-orange);
  letter-spacing: .0938rem;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}

.notification__date {
  font-size: 12px;
  font-weight: 500;
  color: var(--bs-gray-500);
}

.notification__all {
  display: block !important;
  font-size: 12px;
}

.main-navbar .navbar .notifications .dropdown-menu .dropdown-item {
  display: flex;
  padding: 5px 5px 0 5px;
}
.main-navbar .navbar .notifications .dropdown-menu .dropdown-item:last-child {
  display: flex;
  padding: 5px;
}

.main-navbar .navbar .notifications .dropdown-menu {
  right: 0 !important;
  top: auto !important;
  padding-bottom: 0;
}

.dropdown-menu-dark .text-success {
  color: var(--bs-teal) !important;
}

.dropdown-menu .dropdown-header {
  border-bottom: 1px solid var(--bs-gray-500);
  padding-top: 0;
  padding-bottom: 5px;
  color: #fff !important;
  font-weight: bold;
}

.navbar-links {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}


.nav-search {

}

@media (max-width: 570px) {
  .navbar-links {
    //background: #FF0;
    border: 1px solid #FF0;
    flex-basis: 0;
  }
  .nav-search {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .navbar-links {
    //background: #F0F;
    border: 1px solid #F0F;
  }
}

@media (min-width: 768px) {
  //.toggle-sidebar {
  //  display: none;
  //}
  .navbar-links {
    //background: #F00;
    border: 1px solid #F00;
    flex-basis: 100%;
  }
  .nav-search {
    display: none !important;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav .nav-item{
    padding: 0 5px;
  }
}

@media (min-width: 992px) {
  //.toggle-sidebar {
  //  display: none;
  //}
  .navbar-links {
    //background: #00F;
    border: 1px solid #00FF;
  }

  .nav-search {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  //.toggle-sidebar {
  //  display: none;
  //}

  .navbar-links {
    //background: #0F0;
    border: 1px solid #0F0;
    flex-basis: auto;
  }

  .nav-search {
    display: block !important;
  }
}