<footer class="main-footer bg-dark py-5">
    <div class="container px-lg-5 mx-auto">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5 class="text-light">Sobre o {{default.projectName}}</h5>
                <div class="social-icons">
                    <a class="social-icon" href="#">
                        <i class="fab fa-linkedin">&nbsp;</i>
                    </a>
                    <a class="social-icon" href="#">
                        <i class="fab fa-facebook-f">&nbsp;</i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <h5 class="text-light">Contato</h5>
            </div>
            <div class="col-lg-4 text-center">
                <h5 class="text-light">Outros</h5>
            </div>
            <div class="col-lg-12 text-center">
                <span class="text-light">Copyright</span>
            </div>
        </div>
    </div>
</footer>