<!-- head assets begin -->
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="css/fontawesome/all.min.css"/>
<link rel="stylesheet" href="css/layout.1.0.0.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/fontawesome/all.js"></script>
<script src="js/chart.js/chart.min.js"></script>
<script src="js/common.1.0.0.js"></script>
<!-- head assets end -->
