<!-- page header begin -->
<div class="page-header row">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Composição</span>
        <h3 class="page-title">FIIs Overview</h3>
    </div>
</div>
<!-- page header end -->