<!-- head assets begin -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="css/fontawesome/all.min.css"/>
<link rel="stylesheet" href="css/layout.1.0.0.min.css"/>
<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/fontawesome/all.js"></script>
<!-- head assets end -->
