<!doctype html>
<html class="no-js h-100" lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{default.projectName}} - {{index.title}}</title>

    {{>partials/headAssets}}

</head>
<body class="layout-fixed">
<div class="container-fluid">
    <div class="row">
        {{>partials/sidebar}}
        {{>partials/mainNavbar}}
        <main class="main-content">
            <div class="main-content-container">
                {{#fiis}}
                    {{>partials/pageHeader}}
                {{/fiis}}
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="ticket_bought_date">Ticket</label>
                                        <input type="date" id="ticket_bought_date" value="" placeholder="dd-mm-yyyy"
                                               min="2000-01-01" max="" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                        <div class="form-text">Escolha a data de compra</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ticket">Ticket</label>
                                        <input id="ticket" type="text" class="form-control"/>
                                        <div class="form-text">Escolha na lista uma opção prévia ou adicione uma nova opção</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
        {{>partials/footer}}

    </div>
</div>
<!-- last scripts -->
<script type="text/javascript" src="js/fiis.1.0.0.js"></script>
<script type="text/javascript" src="js/fiis-graphs.1.0.0.js"></script>
<!-- last scripts -->
{{>partials/footerAssets}}
</body>
</html>