<!doctype html>
<html class="no-js h-100" lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{default.projectName}} - {{index.title}}</title>

    {{>partials/headAssets}}

</head>
<body class="layout-fixed">
<div class="container-fluid">
    <div class="row">
        {{>partials/sidebar}}
        <main class="main-content">

            {{>partials/mainNavbar}}

            <div class="main-content-container">
                <!-- page header begin -->
                <div class="page-header row">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">{{fiis.title}}</span>
                        <h3 class="page-title">Detalhes</h3>
                    </div>
                </div>
                <!-- page header end -->

            </div>


        </main>
        {{>partials/footer}}

    </div>
</div>
</body>
</html>