<!doctype html>
<html class="no-js h-100" lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{default.projectName}} - {{index.title}}</title>

        {{>partials/headAssets}}

    </head>
    <body class="layout-fixed">
        <div class="container-fluid">
            <div class="row">
                {{>partials/sidebar}}
                {{>partials/mainNavbar}}
                <main class="main-content">
                    <div class="container px-lg-5 mt-3">
                        <div class="p-4 bg-light rounded-2">
                            <div class="app-text">
                                <h1 class="display-5 fw-bold text-start">Gerencie seus investimentos!</h1>
                                <h2 class="fs-2 text-start">Análise, pesquise e monitore em um só lugar.</h2>
                                <p class="fs-4">Bootstrap utility classes are used to create this jumbotron since the old component has been removed from the framework. Why create custom CSS when you can use utilities?</p>

                                <br class="clearfix" />
                            </div>
                            <div class="app-mockup">
                                <img src="images/app_mockup.png" alt="app-mockup">
                                <br class="clearfix" />
                            </div>
                            <a href="login.html" role="button" class="btn btn-primary btn-lg text-start">Entrar</a>
                            <a href="register.html" role="button" class="btn btn-primary btn-lg text-start">Cadastre-se</a>
                        </div>
                    </div>
                    <section class="container pt-4 px-lg-5 mt-3">
                        <div class="row">
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-chart-line"></i></div>
                                        <h2 class="fs-4 fw-bold">Ações</h2>
                                        <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-wallet"></i></div>
                                        <h2 class="fs-4 fw-bold">Carteira</h2>
                                        <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-chart-pie"></i></div>
                                        <h2 class="fs-4 fw-bold">Fundos</h2>
                                        <p class="mb-0">As always, Start Bootstrap has a powerful collectin of free templates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-signal"></i></div>
                                        <h2 class="fs-4 fw-bold">FIIs</h2>
                                        <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-coins"></i></div>
                                        <h2 class="fs-4 fw-bold">Renda Fixa</h2>
                                        <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 ">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i class="fas fa-scroll"></i></div>
                                        <h2 class="fs-4 fw-bold">Relatórios</h2>
                                        <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                {{>partials/footer}}

            </div>
        </div>
    </body>
</html>