<!doctype html>
<html>
    <head>
        <title>{{default.projectName}} - {{register.title}}</title>

        {{> partials/headAssets.mustache }}
    </head>
    <body class="layout-fixed">
        <div class="container-fluid">
            <div class="row">
                <form>
                    basbla
                </form>

            </div>
        </div>
    </body>
</html>